*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.logo-background {
  aspect-ratio: 16/7;
  width: 85vw;
  min-height: 70vh;
  background-color: rgb(253, 224, 59);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-container {
  text-align: center;
}

#logo {
  width: 400px;
}

#title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 36pt;
  margin-bottom: 0;
  margin-top: 1rem;
}

#subtitle {
  font-style: italic;
  text-decoration: underline;
  font-size: 18pt;
  margin-top: 0;
}
